.about--img--area {
    position: absolute;
    justify-content: left;
    align-items: left;
    left: 0;
    overflow: hidden;
}

.about--img--area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .about--img--area img {
        height: 500px !important;
        width: 50% !important;
        object-fit: cover;
    }
    
}

@media(max-width: 992px) {
    .about--img--area img {
        height: 700px;
        width: 70%;
        object-fit: cover;
    }
    
}