.menu--hamburger {
    opacity: 0;
}

@media(max-width: 576px) {
    .menu--hamburger {
        opacity: 1;
    }
}

@media(max-width: 768px) {

}

@media (max-width: 992px) {
   .menu--hamburger {
       opacity: 1;
   }
}

@media(max-width: 1200px) {

}

@media(max-width: 1400px) {
    
}